---
---

@import "minima";

.site-header {
    background: {
        image: url('/assets/img/bruegel-tower-of-babel.jpg');
        repeat: no-repeat;
        position: top center;
        attachment: fixed;
        size: 100%;
        color: blue;
        
    }
    
    .site-title {
        color: lighten($grey-color, 60%);
        font: {
            weight: bold;
            size: 2.5em;
        }
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $grey-color-dark;
    }

    .site-nav {
        padding: {
            left: 0.5em;
            right: 0.5em;
        }

        margin: {
            bottom: 0.5em;
        }

        background: {
            color: rgba(255,255,255,0.5);
        }
    }
}

/* Configuring image layouts intelligently. */
img[src*="#left"] {
    @media screen and (min-width: $on-laptop) {
        max-width: 50%;
        float: left;
        padding-right: 15px;
    }
}

img[src*="#right"] {
    @media screen and (min-width: $on-laptop) {
        max-width: 50%;
        float: right;
        padding-left: 15px;
    }
}

/* Pagination block */
.pagination {
    display: flex;
    font-size: 90%;
    
    .previous, a.previous {
	flex: 1;
    }
    .page_number {
	flex: 1;
        text-align: center;
    }
    next, a.next {
	flex: 1;
        text-align: right;
    }
}

.rss-subscribe {
    margin-top: 1em;
}
