---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.image %}
    <div class="post-header-image">
      <img src="{{ page.image }}" alt="{% if page.image_alt %}{{ page.image_alt }}{% endif %}">
    </div>
    {% endif %}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <span class="post-tags">
    <b>tags:</b>
    {% for tag in page.tags %}
    {% assign tag_slug = tag | slugify: "default" %}
    <a class="tag-link"
      href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
      rel="category tag">
      #{{ tag }}
    </a>
    {% endfor %}
  </span>

  <div class="wrapper related-posts">
    <h3>You may also like:</h3>
    {% include related.html %}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
